// PontIcons Variables
// --------------------------

$ponticons-font-path: "../fonts" !default;
$ponticons-font-family: "ponticons" !default;
$ponticons-version: "1.2.1" !default;
$ponticons-prefix: ponticon- !default;

$ponticon-var-logo-gitplex: "\f100";
$ponticon-var-logo-teamlink: "\f101";
$ponticon-var-markdown: "\f110";
$ponticon-var-checklist: "\f111";
$ponticon-var-milestone: "\f112";
$ponticon-var-folder: "\f113";
$ponticon-var-folder-o: "\f114";
$ponticon-var-file-symbol-link: "\f115";
$ponticon-var-gatekeeper: "\f116";
$ponticon-var-book: "\f117";
$ponticon-var-book-alt: "\f118";
$ponticon-var-files: "\f119";
$ponticon-var-book-open: "\f11a";
$ponticon-var-compass: "\f11b";
$ponticon-var-globe: "\f11c";
$ponticon-var-warning: "\f11d";
$ponticon-var-issue-opened: "\f120";
$ponticon-var-issue-reopened: "\f121";
$ponticon-var-issue-closed: "\f122";
$ponticon-var-comment: "\f130";
$ponticon-var-comments: "\f131";
$ponticon-var-repo: "\f200";
$ponticon-var-repo-add: "\f201";
$ponticon-var-repo-remove: "\f202";
$ponticon-var-repo-fork: "\f203";
$ponticon-var-repo-clone: "\f204";
$ponticon-var-repo-lock: "\f205";
$ponticon-var-repo-unlock: "\f206";
$ponticon-var-repo-pull: "\f207";
$ponticon-var-repo-push: "\f208";
$ponticon-var-repo-sync: "\f209";
$ponticon-var-diff-added: "\f210";
$ponticon-var-diff-removed: "\f211";
$ponticon-var-diff-modified: "\f212";
$ponticon-var-diff-renamed: "\f213";
$ponticon-var-diff-ignored: "\f214";
$ponticon-var-file-diff: "\f215";
$ponticon-var-file-added: "\f216";
$ponticon-var-file-removed: "\f217";
$ponticon-var-file-modified: "\f218";
$ponticon-var-file-renamed: "\f219";
$ponticon-var-folder-added-o: "\f21a";
$ponticon-var-folder-removed-o: "\f21b";
$ponticon-var-folder-modified-o: "\f21c";
$ponticon-var-folder-renamed-o: "\f21d";
$ponticon-var-commit: "\f220";
$ponticon-var-branch: "\f221";
$ponticon-var-branch-merge: "\f222";
$ponticon-var-branch-pattern: "\f223";
$ponticon-var-branch-compare: "\f224";
$ponticon-var-branch-lock: "\f225";
$ponticon-var-folder-symbol-link-o: "\f227";
$ponticon-var-folder-submodule-o: "\f228";