// PontIcons Icons
// --------------------------

.#{$ponticons-prefix}logo-gitplex:before { content: $ponticon-var-logo-gitplex; }
.#{$ponticons-prefix}logo-teamlink:before { content: $ponticon-var-logo-teamlink; }
.#{$ponticons-prefix}markdown:before { content: $ponticon-var-markdown; }
.#{$ponticons-prefix}checklist:before { content: $ponticon-var-checklist; }
.#{$ponticons-prefix}milestone:before { content: $ponticon-var-milestone; }
.#{$ponticons-prefix}gatekeeper:before { content: $ponticon-var-gatekeeper; }
.#{$ponticons-prefix}book:before { content: $ponticon-var-book; }
.#{$ponticons-prefix}book-alt:before { content: $ponticon-var-book-alt; }
.#{$ponticons-prefix}book-open:before { content: $ponticon-var-book-open; }
.#{$ponticons-prefix}compass:before { content: $ponticon-var-compass; }
.#{$ponticons-prefix}globe:before { content: $ponticon-var-globe; }
.#{$ponticons-prefix}warning:before { content: $ponticon-var-warning; }
.#{$ponticons-prefix}issue-opened:before { content: $ponticon-var-issue-opened; }
.#{$ponticons-prefix}issue-reopened:before { content: $ponticon-var-issue-reopened; }
.#{$ponticons-prefix}issue-closed:before { content: $ponticon-var-issue-closed; }
.#{$ponticons-prefix}comment:before { content: $ponticon-var-comment; }
.#{$ponticons-prefix}comments:before { content: $ponticon-var-comments; }
.#{$ponticons-prefix}folder:before { content: $ponticon-var-folder; }
.#{$ponticons-prefix}folder-o:before { content: $ponticon-var-folder-o; }
.#{$ponticons-prefix}files:before { content: $ponticon-var-files; }
.#{$ponticons-prefix}file-symbol-link:before { content: $ponticon-var-file-symbol-link; }
.#{$ponticons-prefix}file-text:before { content: $ponticon-var-file-text; }
.#{$ponticons-prefix}file-code:before { content: $ponticon-var-file-code; }
.#{$ponticons-prefix}file-zip:before { content: $ponticon-var-file-zip; }
.#{$ponticons-prefix}repo:before { content: $ponticon-var-repo; }
.#{$ponticons-prefix}repo-add:before { content: $ponticon-var-repo-add; }
.#{$ponticons-prefix}repo-remove:before { content: $ponticon-var-repo-remove; }
.#{$ponticons-prefix}repo-fork:before { content: $ponticon-var-repo-fork; }
.#{$ponticons-prefix}repo-clone:before { content: $ponticon-var-repo-clone; }
.#{$ponticons-prefix}repo-lock:before { content: $ponticon-var-repo-lock; }
.#{$ponticons-prefix}repo-unlock:before { content: $ponticon-var-repo-unlock; }
.#{$ponticons-prefix}repo-pull:before { content: $ponticon-var-repo-pull; }
.#{$ponticons-prefix}repo-push:before { content: $ponticon-var-repo-push; }
.#{$ponticons-prefix}repo-sync:before { content: $ponticon-var-repo-sync; }
.#{$ponticons-prefix}diff-added:before { content: $ponticon-var-diff-added; }
.#{$ponticons-prefix}diff-removed:before { content: $ponticon-var-diff-removed; }
.#{$ponticons-prefix}diff-modified:before { content: $ponticon-var-diff-modified; }
.#{$ponticons-prefix}diff-renamed:before { content: $ponticon-var-diff-renamed; }
.#{$ponticons-prefix}diff-ignored:before { content: $ponticon-var-diff-ignored; }
.#{$ponticons-prefix}file-diff:before { content: $ponticon-var-file-diff; }
.#{$ponticons-prefix}file-added:before { content: $ponticon-var-file-added; }
.#{$ponticons-prefix}file-removed:before { content: $ponticon-var-file-removed; }
.#{$ponticons-prefix}file-modified:before { content: $ponticon-var-file-modified; }
.#{$ponticons-prefix}file-renamed:before { content: $ponticon-var-file-renamed; }
.#{$ponticons-prefix}folder-added-o:before { content: $ponticon-var-folder-added-o; }
.#{$ponticons-prefix}folder-removed-o:before { content: $ponticon-var-folder-removed-o; }
.#{$ponticons-prefix}folder-modified-o:before { content: $ponticon-var-folder-modified-o; }
.#{$ponticons-prefix}folder-renamed-o:before { content: $ponticon-var-folder-renamed-o; }
.#{$ponticons-prefix}commit:before { content: $ponticon-var-commit; }
.#{$ponticons-prefix}branch:before { content: $ponticon-var-branch; }
.#{$ponticons-prefix}branch-merge:before { content: $ponticon-var-branch-merge; }
.#{$ponticons-prefix}branch-pattern:before { content: $ponticon-var-branch-pattern; }
.#{$ponticons-prefix}branch-compare:before { content: $ponticon-var-branch-compare; }
.#{$ponticons-prefix}branch-lock:before { content: $ponticon-var-branch-lock; }
.#{$ponticons-prefix}folder-symbol-link-o:before { content: $ponticon-var-folder-symbol-link-o; }
.#{$ponticons-prefix}folder-submodule-o:before { content: $ponticon-var-folder-submodule-o; }