// PontIcons Icons
// --------------------------

.#{$ponticons-prefix}logo-gitplex:before { content: $ponticon-var-logo-gitplex; }
.#{$ponticons-prefix}calendar-month:before { content: $ponticon-var-calendar-month; }
.#{$ponticons-prefix}calendar-day:before { content: $ponticon-var-calendar-day; }
.#{$ponticons-prefix}database:before { content: $ponticon-var-database; }
.#{$ponticons-prefix}book:before { content: $ponticon-var-book; }
.#{$ponticons-prefix}user:before { content: $ponticon-var-user; }
.#{$ponticons-prefix}user-o:before { content: $ponticon-var-user-o; }
.#{$ponticons-prefix}group:before { content: $ponticon-var-group; }
.#{$ponticons-prefix}group-o:before { content: $ponticon-var-group-o; }
.#{$ponticons-prefix}tools:before { content: $ponticon-var-tools; }
.#{$ponticons-prefix}wrench:before { content: $ponticon-var-wrench; }
.#{$ponticons-prefix}gear:before { content: $ponticon-var-gear; }
.#{$ponticons-prefix}gears:before { content: $ponticon-var-gears; }
.#{$ponticons-prefix}gears-alt:before { content: $ponticon-var-gears-alt; }
.#{$ponticons-prefix}settings:before { content: $ponticon-var-settings; }
.#{$ponticons-prefix}settings-alt:before { content: $ponticon-var-settings-alt; }
.#{$ponticons-prefix}settings-alt-v:before { content: $ponticon-var-settings-alt-v; }
.#{$ponticons-prefix}lock:before { content: $ponticon-var-lock; }
.#{$ponticons-prefix}unlock:before { content: $ponticon-var-unlock; }
.#{$ponticons-prefix}unlock-alt:before { content: $ponticon-var-unlock-alt; }
.#{$ponticons-prefix}rss:before { content: $ponticon-var-rss; }
.#{$ponticons-prefix}key:before { content: $ponticon-var-key; }
.#{$ponticons-prefix}key-alt:before { content: $ponticon-var-key-alt; }
.#{$ponticons-prefix}flag:before { content: $ponticon-var-flag; }
.#{$ponticons-prefix}buoy:before { content: $ponticon-var-buoy; }
.#{$ponticons-prefix}puzzle:before { content: $ponticon-var-puzzle; }
.#{$ponticons-prefix}plug:before { content: $ponticon-var-plug; }
.#{$ponticons-prefix}dashboard:before { content: $ponticon-var-dashboard; }
.#{$ponticons-prefix}dashboard-alt:before { content: $ponticon-var-dashboard-alt; }
.#{$ponticons-prefix}versions:before { content: $ponticon-var-versions; }
.#{$ponticons-prefix}package:before { content: $ponticon-var-package; }
.#{$ponticons-prefix}steps:before { content: $ponticon-var-steps; }
.#{$ponticons-prefix}terminal:before { content: $ponticon-var-terminal; }
.#{$ponticons-prefix}credit-card:before { content: $ponticon-var-credit-card; }
.#{$ponticons-prefix}globe:before { content: $ponticon-var-globe; }
.#{$ponticons-prefix}globe-alt:before { content: $ponticon-var-globe-alt; }
.#{$ponticons-prefix}keyboard:before { content: $ponticon-var-keyboard; }
.#{$ponticons-prefix}keyboard-alt:before { content: $ponticon-var-keyboard-alt; }
.#{$ponticons-prefix}key-tab:before { content: $ponticon-var-key-tab; }
.#{$ponticons-prefix}location:before { content: $ponticon-var-location; }
.#{$ponticons-prefix}markdown:before { content: $ponticon-var-markdown; }
.#{$ponticons-prefix}pulse:before { content: $ponticon-var-pulse; }
.#{$ponticons-prefix}servers:before { content: $ponticon-var-servers; }
.#{$ponticons-prefix}trash:before { content: $ponticon-var-trash; }
.#{$ponticons-prefix}trashcan:before { content: $ponticon-var-trashcan; }
.#{$ponticons-prefix}browser:before { content: $ponticon-var-browser; }
.#{$ponticons-prefix}clock:before { content: $ponticon-var-clock; }
.#{$ponticons-prefix}history:before { content: $ponticon-var-history; }
.#{$ponticons-prefix}color-mode:before { content: $ponticon-var-color-mode; }
.#{$ponticons-prefix}ellipsis:before { content: $ponticon-var-ellipsis; }
.#{$ponticons-prefix}ellipsis-alt:before { content: $ponticon-var-ellipsis-alt; }
.#{$ponticons-prefix}no-newline:before { content: $ponticon-var-no-newline; }
.#{$ponticons-prefix}flame:before { content: $ponticon-var-flame; }
.#{$ponticons-prefix}milestone:before { content: $ponticon-var-milestone; }
.#{$ponticons-prefix}rocket:before { content: $ponticon-var-rocket; }
.#{$ponticons-prefix}rocket-alt:before { content: $ponticon-var-rocket-alt; }
.#{$ponticons-prefix}beer:before { content: $ponticon-var-beer; }
.#{$ponticons-prefix}circuit-board:before { content: $ponticon-var-circuit-board; }
.#{$ponticons-prefix}paintcan:before { content: $ponticon-var-paintcan; }
.#{$ponticons-prefix}microscope:before { content: $ponticon-var-microscope; }
.#{$ponticons-prefix}telescope:before { content: $ponticon-var-telescope; }
.#{$ponticons-prefix}law:before { content: $ponticon-var-law; }
.#{$ponticons-prefix}megaphone:before { content: $ponticon-var-megaphone; }
.#{$ponticons-prefix}mortar-board:before { content: $ponticon-var-mortar-board; }
.#{$ponticons-prefix}zap:before { content: $ponticon-var-zap; }
.#{$ponticons-prefix}squirrel:before { content: $ponticon-var-squirrel; }
.#{$ponticons-prefix}light-bulb:before { content: $ponticon-var-light-bulb; }
.#{$ponticons-prefix}podium:before { content: $ponticon-var-podium; }
.#{$ponticons-prefix}jersey:before { content: $ponticon-var-jersey; }
.#{$ponticons-prefix}briefcase:before { content: $ponticon-var-briefcase; }
.#{$ponticons-prefix}gift:before { content: $ponticon-var-gift; }
.#{$ponticons-prefix}ruby:before { content: $ponticon-var-ruby; }
.#{$ponticons-prefix}bell:before { content: $ponticon-var-bell; }
.#{$ponticons-prefix}device-camera:before { content: $ponticon-var-device-camera; }
.#{$ponticons-prefix}device-video:before { content: $ponticon-var-device-video; }
.#{$ponticons-prefix}device-desktop:before { content: $ponticon-var-device-desktop; }
.#{$ponticons-prefix}device-mobile:before { content: $ponticon-var-device-mobile; }
.#{$ponticons-prefix}os-apple:before { content: $ponticon-var-os-apple; }
.#{$ponticons-prefix}os-linux:before { content: $ponticon-var-os-linux; }
.#{$ponticons-prefix}os-windows:before { content: $ponticon-var-os-windows; }
.#{$ponticons-prefix}os-android:before { content: $ponticon-var-os-android; }
.#{$ponticons-prefix}arrow-up:before { content: $ponticon-var-arrow-up; }
.#{$ponticons-prefix}arrow-down:before { content: $ponticon-var-arrow-down; }
.#{$ponticons-prefix}arrow-left:before { content: $ponticon-var-arrow-left; }
.#{$ponticons-prefix}arrow-right:before { content: $ponticon-var-arrow-right; }
.#{$ponticons-prefix}arrow-small-up:before { content: $ponticon-var-arrow-small-up; }
.#{$ponticons-prefix}arrow-small-down:before { content: $ponticon-var-arrow-small-down; }
.#{$ponticons-prefix}arrow-small-left:before { content: $ponticon-var-arrow-small-left; }
.#{$ponticons-prefix}arrow-small-right:before { content: $ponticon-var-arrow-small-right; }
.#{$ponticons-prefix}arrow-slim-up:before { content: $ponticon-var-arrow-slim-up; }
.#{$ponticons-prefix}arrow-slim-down:before { content: $ponticon-var-arrow-slim-down; }
.#{$ponticons-prefix}arrow-slim-left:before { content: $ponticon-var-arrow-slim-left; }
.#{$ponticons-prefix}arrow-slim-right:before { content: $ponticon-var-arrow-slim-right; }
.#{$ponticons-prefix}chevron-up:before { content: $ponticon-var-chevron-up; }
.#{$ponticons-prefix}chevron-down:before { content: $ponticon-var-chevron-down; }
.#{$ponticons-prefix}chevron-left:before { content: $ponticon-var-chevron-left; }
.#{$ponticons-prefix}chevron-right:before { content: $ponticon-var-chevron-right; }
.#{$ponticons-prefix}triangle-up:before { content: $ponticon-var-triangle-up; }
.#{$ponticons-prefix}triangle-down:before { content: $ponticon-var-triangle-down; }
.#{$ponticons-prefix}triangle-left:before { content: $ponticon-var-triangle-left; }
.#{$ponticons-prefix}triangle-right:before { content: $ponticon-var-triangle-right; }
.#{$ponticons-prefix}arrow-back:before { content: $ponticon-var-arrow-back; }
.#{$ponticons-prefix}tick-round:before { content: $ponticon-var-tick-round; }
.#{$ponticons-prefix}times-round:before { content: $ponticon-var-times-round; }
.#{$ponticons-prefix}question-round:before { content: $ponticon-var-question-round; }
.#{$ponticons-prefix}plus-round:before { content: $ponticon-var-plus-round; }
.#{$ponticons-prefix}minus-round:before { content: $ponticon-var-minus-round; }
.#{$ponticons-prefix}info-round:before { content: $ponticon-var-info-round; }
.#{$ponticons-prefix}warning-round:before { content: $ponticon-var-warning-round; }
.#{$ponticons-prefix}tick-circle:before { content: $ponticon-var-tick-circle; }
.#{$ponticons-prefix}times-circle:before { content: $ponticon-var-times-circle; }
.#{$ponticons-prefix}question-circle:before { content: $ponticon-var-question-circle; }
.#{$ponticons-prefix}plus-circle:before { content: $ponticon-var-plus-circle; }
.#{$ponticons-prefix}minus-circle:before { content: $ponticon-var-minus-circle; }
.#{$ponticons-prefix}info-circle:before { content: $ponticon-var-info-circle; }
.#{$ponticons-prefix}warning-circle:before { content: $ponticon-var-warning-circle; }
.#{$ponticons-prefix}warning-block:before { content: $ponticon-var-warning-block; }
.#{$ponticons-prefix}warning-block-o:before { content: $ponticon-var-warning-block-o; }
.#{$ponticons-prefix}alert:before { content: $ponticon-var-alert; }
.#{$ponticons-prefix}alert-o:before { content: $ponticon-var-alert-o; }
.#{$ponticons-prefix}plus-square-o:before { content: $ponticon-var-plus-square-o; }
.#{$ponticons-prefix}minus-square-o:before { content: $ponticon-var-minus-square-o; }
.#{$ponticons-prefix}mail:before { content: $ponticon-var-mail; }
.#{$ponticons-prefix}mail-alt:before { content: $ponticon-var-mail-alt; }
.#{$ponticons-prefix}mail-read:before { content: $ponticon-var-mail-read; }
.#{$ponticons-prefix}mail-reply:before { content: $ponticon-var-mail-reply; }
.#{$ponticons-prefix}mail-forward:before { content: $ponticon-var-mail-forward; }
.#{$ponticons-prefix}mail-inbox:before { content: $ponticon-var-mail-inbox; }
.#{$ponticons-prefix}notification-center:before { content: $ponticon-var-notification-center; }
.#{$ponticons-prefix}mail-archive:before { content: $ponticon-var-mail-archive; }
.#{$ponticons-prefix}playback-play:before { content: $ponticon-var-playback-play; }
.#{$ponticons-prefix}playback-pause:before { content: $ponticon-var-playback-pause; }
.#{$ponticons-prefix}playback-fast-forward:before { content: $ponticon-var-playback-fast-forward; }
.#{$ponticons-prefix}playback-rewind:before { content: $ponticon-var-playback-rewind; }
.#{$ponticons-prefix}play-circle:before { content: $ponticon-var-play-circle; }
.#{$ponticons-prefix}stop-circle:before { content: $ponticon-var-stop-circle; }
.#{$ponticons-prefix}pause-circle:before { content: $ponticon-var-pause-circle; }
.#{$ponticons-prefix}fast-forward-circle:before { content: $ponticon-var-fast-forward-circle; }
.#{$ponticons-prefix}rewind-circle:before { content: $ponticon-var-rewind-circle; }
.#{$ponticons-prefix}jump-up:before { content: $ponticon-var-jump-up; }
.#{$ponticons-prefix}jump-down:before { content: $ponticon-var-jump-down; }
.#{$ponticons-prefix}jump-left:before { content: $ponticon-var-jump-left; }
.#{$ponticons-prefix}jump-right:before { content: $ponticon-var-jump-right; }
.#{$ponticons-prefix}move-left:before { content: $ponticon-var-move-left; }
.#{$ponticons-prefix}move-right:before { content: $ponticon-var-move-right; }
.#{$ponticons-prefix}volume-low:before { content: $ponticon-var-volume-low; }
.#{$ponticons-prefix}volume-medium:before { content: $ponticon-var-volume-medium; }
.#{$ponticons-prefix}volume-high:before { content: $ponticon-var-volume-high; }
.#{$ponticons-prefix}volume-mute:before { content: $ponticon-var-volume-mute; }
.#{$ponticons-prefix}chart-line:before { content: $ponticon-var-chart-line; }
.#{$ponticons-prefix}chart-pie:before { content: $ponticon-var-chart-pie; }
.#{$ponticons-prefix}chart-area:before { content: $ponticon-var-chart-area; }
.#{$ponticons-prefix}chart-bar:before { content: $ponticon-var-chart-bar; }
.#{$ponticons-prefix}heart:before { content: $ponticon-var-heart; }
.#{$ponticons-prefix}heart-o:before { content: $ponticon-var-heart-o; }
.#{$ponticons-prefix}bookmark:before { content: $ponticon-var-bookmark; }
.#{$ponticons-prefix}bookmark-alt:before { content: $ponticon-var-bookmark-alt; }
.#{$ponticons-prefix}bookmarks:before { content: $ponticon-var-bookmarks; }
.#{$ponticons-prefix}sign-out:before { content: $ponticon-var-sign-out; }
.#{$ponticons-prefix}sign-in:before { content: $ponticon-var-sign-in; }
.#{$ponticons-prefix}shutdown:before { content: $ponticon-var-shutdown; }
.#{$ponticons-prefix}plus:before { content: $ponticon-var-plus; }
.#{$ponticons-prefix}times:before { content: $ponticon-var-times; }
.#{$ponticons-prefix}minus:before { content: $ponticon-var-minus; }
.#{$ponticons-prefix}pencil:before { content: $ponticon-var-pencil; }
.#{$ponticons-prefix}circle-slash:before { content: $ponticon-var-circle-slash; }
.#{$ponticons-prefix}star:before { content: $ponticon-var-star; }
.#{$ponticons-prefix}star-o:before { content: $ponticon-var-star-o; }
.#{$ponticons-prefix}thumb-up:before { content: $ponticon-var-thumb-up; }
.#{$ponticons-prefix}thumb-down:before { content: $ponticon-var-thumb-down; }
.#{$ponticons-prefix}thumb-up-o:before { content: $ponticon-var-thumb-up-o; }
.#{$ponticons-prefix}thumb-down-o:before { content: $ponticon-var-thumb-down-o; }
.#{$ponticons-prefix}sync:before { content: $ponticon-var-sync; }
.#{$ponticons-prefix}search:before { content: $ponticon-var-search; }
.#{$ponticons-prefix}download:before { content: $ponticon-var-download; }
.#{$ponticons-prefix}upload:before { content: $ponticon-var-upload; }
.#{$ponticons-prefix}pin:before { content: $ponticon-var-pin; }
.#{$ponticons-prefix}pushpin:before { content: $ponticon-var-pushpin; }
.#{$ponticons-prefix}pushpin-o:before { content: $ponticon-var-pushpin-o; }
.#{$ponticons-prefix}clippy:before { content: $ponticon-var-clippy; }
.#{$ponticons-prefix}expand:before { content: $ponticon-var-expand; }
.#{$ponticons-prefix}collapse:before { content: $ponticon-var-collapse; }
.#{$ponticons-prefix}fold:before { content: $ponticon-var-fold; }
.#{$ponticons-prefix}unfold:before { content: $ponticon-var-unfold; }
.#{$ponticons-prefix}contrast:before { content: $ponticon-var-contrast; }
.#{$ponticons-prefix}redo:before { content: $ponticon-var-redo; }
.#{$ponticons-prefix}undo:before { content: $ponticon-var-undo; }
.#{$ponticons-prefix}share:before { content: $ponticon-var-share; }
.#{$ponticons-prefix}share-alt:before { content: $ponticon-var-share-alt; }
.#{$ponticons-prefix}file-pdf:before { content: $ponticon-var-file-pdf; }
.#{$ponticons-prefix}file-audio:before { content: $ponticon-var-file-audio; }
.#{$ponticons-prefix}file-binary:before { content: $ponticon-var-file-binary; }
.#{$ponticons-prefix}file-code:before { content: $ponticon-var-file-code; }
.#{$ponticons-prefix}file-code-alt:before { content: $ponticon-var-file-code-alt; }
.#{$ponticons-prefix}file-image:before { content: $ponticon-var-file-image; }
.#{$ponticons-prefix}file-symlink:before { content: $ponticon-var-file-symlink; }
.#{$ponticons-prefix}file-media:before { content: $ponticon-var-file-media; }
.#{$ponticons-prefix}file-txt:before { content: $ponticon-var-file-txt; }
.#{$ponticons-prefix}file-video:before { content: $ponticon-var-file-video; }
.#{$ponticons-prefix}file-word:before { content: $ponticon-var-file-word; }
.#{$ponticons-prefix}file-excel:before { content: $ponticon-var-file-excel; }
.#{$ponticons-prefix}file-ppt:before { content: $ponticon-var-file-ppt; }
.#{$ponticons-prefix}file-zip:before { content: $ponticon-var-file-zip; }
.#{$ponticons-prefix}file-added:before { content: $ponticon-var-file-added; }
.#{$ponticons-prefix}file-modified:before { content: $ponticon-var-file-modified; }
.#{$ponticons-prefix}file-removed:before { content: $ponticon-var-file-removed; }
.#{$ponticons-prefix}folder:before { content: $ponticon-var-folder; }
.#{$ponticons-prefix}folder-link:before { content: $ponticon-var-folder-link; }
.#{$ponticons-prefix}folder-added:before { content: $ponticon-var-folder-added; }
.#{$ponticons-prefix}folder-modified:before { content: $ponticon-var-folder-modified; }
.#{$ponticons-prefix}folder-removed:before { content: $ponticon-var-folder-removed; }
.#{$ponticons-prefix}folder-submodule:before { content: $ponticon-var-folder-submodule; }
.#{$ponticons-prefix}folder-o:before { content: $ponticon-var-folder-o; }
.#{$ponticons-prefix}folder-link-o:before { content: $ponticon-var-folder-link-o; }
.#{$ponticons-prefix}folder-added-o:before { content: $ponticon-var-folder-added-o; }
.#{$ponticons-prefix}folder-modified-o:before { content: $ponticon-var-folder-modified-o; }
.#{$ponticons-prefix}folder-removed-o:before { content: $ponticon-var-folder-removed-o; }
.#{$ponticons-prefix}tag:before { content: $ponticon-var-tag; }
.#{$ponticons-prefix}tag-o:before { content: $ponticon-var-tag-o; }
.#{$ponticons-prefix}tag-add:before { content: $ponticon-var-tag-add; }
.#{$ponticons-prefix}tag-remove:before { content: $ponticon-var-tag-remove; }
.#{$ponticons-prefix}tag-alt:before { content: $ponticon-var-tag-alt; }
.#{$ponticons-prefix}tags:before { content: $ponticon-var-tags; }
.#{$ponticons-prefix}comment:before { content: $ponticon-var-comment; }
.#{$ponticons-prefix}comments:before { content: $ponticon-var-comments; }
.#{$ponticons-prefix}comment-add:before { content: $ponticon-var-comment-add; }
.#{$ponticons-prefix}eye-open:before { content: $ponticon-var-eye-open; }
.#{$ponticons-prefix}eye-plus:before { content: $ponticon-var-eye-plus; }
.#{$ponticons-prefix}eye-times:before { content: $ponticon-var-eye-times; }
.#{$ponticons-prefix}eye-slash:before { content: $ponticon-var-eye-slash; }
.#{$ponticons-prefix}commit:before { content: $ponticon-var-commit; }
.#{$ponticons-prefix}diff:before { content: $ponticon-var-diff; }
.#{$ponticons-prefix}diff-added:before { content: $ponticon-var-diff-added; }
.#{$ponticons-prefix}diff-ignored:before { content: $ponticon-var-diff-ignored; }
.#{$ponticons-prefix}diff-modified:before { content: $ponticon-var-diff-modified; }
.#{$ponticons-prefix}diff-removed:before { content: $ponticon-var-diff-removed; }
.#{$ponticons-prefix}diff-renamed:before { content: $ponticon-var-diff-renamed; }
.#{$ponticons-prefix}repo:before { content: $ponticon-var-repo; }
.#{$ponticons-prefix}repo-add:before { content: $ponticon-var-repo-add; }
.#{$ponticons-prefix}repo-remove:before { content: $ponticon-var-repo-remove; }
.#{$ponticons-prefix}repo-cloned:before { content: $ponticon-var-repo-cloned; }
.#{$ponticons-prefix}repo-forked:before { content: $ponticon-var-repo-forked; }
.#{$ponticons-prefix}repo-locked:before { content: $ponticon-var-repo-locked; }
.#{$ponticons-prefix}repo-unlocked:before { content: $ponticon-var-repo-unlocked; }
.#{$ponticons-prefix}repo-pull:before { content: $ponticon-var-repo-pull; }
.#{$ponticons-prefix}repo-push:before { content: $ponticon-var-repo-push; }
.#{$ponticons-prefix}repo-force-push:before { content: $ponticon-var-repo-force-push; }
.#{$ponticons-prefix}repo-sync:before { content: $ponticon-var-repo-sync; }
.#{$ponticons-prefix}repo-mirror:before { content: $ponticon-var-repo-mirror; }
.#{$ponticons-prefix}branch:before { content: $ponticon-var-branch; }
.#{$ponticons-prefix}branch-add:before { content: $ponticon-var-branch-add; }
.#{$ponticons-prefix}branch-remove:before { content: $ponticon-var-branch-remove; }
.#{$ponticons-prefix}branch-branch:before { content: $ponticon-var-branch-branch; }
.#{$ponticons-prefix}branch-pattern:before { content: $ponticon-var-branch-pattern; }
.#{$ponticons-prefix}branch-lock:before { content: $ponticon-var-branch-lock; }
.#{$ponticons-prefix}branch-merge:before { content: $ponticon-var-branch-merge; }
.#{$ponticons-prefix}branch-compare:before { content: $ponticon-var-branch-compare; }
.#{$ponticons-prefix}pull-request-add:before { content: $ponticon-var-pull-request-add; }
.#{$ponticons-prefix}pull-request-reject:before { content: $ponticon-var-pull-request-reject; }
.#{$ponticons-prefix}pull-request-accept:before { content: $ponticon-var-pull-request-accept; }
.#{$ponticons-prefix}pull-request-close:before { content: $ponticon-var-pull-request-close; }
.#{$ponticons-prefix}bug:before { content: $ponticon-var-bug; }
.#{$ponticons-prefix}checklist:before { content: $ponticon-var-checklist; }
.#{$ponticons-prefix}issue-opened:before { content: $ponticon-var-issue-opened; }
.#{$ponticons-prefix}issue-reopened:before { content: $ponticon-var-issue-reopened; }
.#{$ponticons-prefix}issue-closed:before { content: $ponticon-var-issue-closed; }
.#{$ponticons-prefix}font:before { content: $ponticon-var-font; }
.#{$ponticons-prefix}font-bold:before { content: $ponticon-var-font-bold; }
.#{$ponticons-prefix}font-italic:before { content: $ponticon-var-font-italic; }
.#{$ponticons-prefix}table:before { content: $ponticon-var-table; }
.#{$ponticons-prefix}align-center:before { content: $ponticon-var-align-center; }
.#{$ponticons-prefix}align-left:before { content: $ponticon-var-align-left; }
.#{$ponticons-prefix}align-right:before { content: $ponticon-var-align-right; }
.#{$ponticons-prefix}align-justify:before { content: $ponticon-var-align-justify; }
.#{$ponticons-prefix}list-unordered:before { content: $ponticon-var-list-unordered; }
.#{$ponticons-prefix}list-ordered:before { content: $ponticon-var-list-ordered; }
.#{$ponticons-prefix}indent-left:before { content: $ponticon-var-indent-left; }
.#{$ponticons-prefix}indent-right:before { content: $ponticon-var-indent-right; }
.#{$ponticons-prefix}mention:before { content: $ponticon-var-mention; }
.#{$ponticons-prefix}horizontal-rule:before { content: $ponticon-var-horizontal-rule; }
.#{$ponticons-prefix}image:before { content: $ponticon-var-image; }
.#{$ponticons-prefix}quote:before { content: $ponticon-var-quote; }
.#{$ponticons-prefix}screen-full:before { content: $ponticon-var-screen-full; }
.#{$ponticons-prefix}screen-normal:before { content: $ponticon-var-screen-normal; }
.#{$ponticons-prefix}link:before { content: $ponticon-var-link; }
.#{$ponticons-prefix}link-alt:before { content: $ponticon-var-link-alt; }
.#{$ponticons-prefix}link-external:before { content: $ponticon-var-link-external; }
.#{$ponticons-prefix}unlink:before { content: $ponticon-var-unlink; }
.#{$ponticons-prefix}attachment:before { content: $ponticon-var-attachment; }
.#{$ponticons-prefix}primitive-dot:before { content: $ponticon-var-primitive-dot; }
.#{$ponticons-prefix}primitive-square:before { content: $ponticon-var-primitive-square; }
.#{$ponticons-prefix}tick:before { content: $ponticon-var-tick; }
.#{$ponticons-prefix}tick-o:before { content: $ponticon-var-tick-o; }
.#{$ponticons-prefix}checkbox-unchecked:before { content: $ponticon-var-checkbox-unchecked; }
.#{$ponticons-prefix}checkbox-checked:before { content: $ponticon-var-checkbox-checked; }
.#{$ponticons-prefix}checkbox-selected:before { content: $ponticon-var-checkbox-selected; }
.#{$ponticons-prefix}radio-unchecked:before { content: $ponticon-var-radio-unchecked; }
.#{$ponticons-prefix}radio-checked:before { content: $ponticon-var-radio-checked; }
.#{$ponticons-prefix}bars-one:before { content: $ponticon-var-bars-one; }
.#{$ponticons-prefix}bars-two:before { content: $ponticon-var-bars-two; }
.#{$ponticons-prefix}bars-three:before { content: $ponticon-var-bars-three; }