/*!
Ponticons, v1.0.1
Created PontIcons based on the work by Ben Sperry for the Ionic Framework, http://ionicons.com/
MIT License: https://github.com/steveluo/ponticons
*/
// PontIcons Variables
// --------------------------

@ponticons-font-path: "../fonts";
@ponticons-font-family: "ponticons";
@ponticons-version: "1.0.1";
@ponticons-prefix: fa-;

@ponticon-var-logo-gitplex: "\f000";
@ponticon-var-calendar-month: "\f110";
@ponticon-var-calendar-day: "\f111";
@ponticon-var-database: "\f115";
@ponticon-var-book: "\f116";
@ponticon-var-user: "\f117";
@ponticon-var-user-o: "\f118";
@ponticon-var-group: "\f119";
@ponticon-var-group-o: "\f11a";
@ponticon-var-tools: "\f11b";
@ponticon-var-wrench: "\f11c";
@ponticon-var-gear: "\f11d";
@ponticon-var-gears: "\f11e";
@ponticon-var-gears-alt: "\f11f";
@ponticon-var-settings: "\f120";
@ponticon-var-settings-alt: "\f121";
@ponticon-var-settings-alt-v: "\f122";
@ponticon-var-lock: "\f123";
@ponticon-var-unlock: "\f124";
@ponticon-var-unlock-alt: "\f125";
@ponticon-var-rss: "\f126";
@ponticon-var-key: "\f127";
@ponticon-var-key-alt: "\f128";
@ponticon-var-flag: "\f129";
@ponticon-var-buoy: "\f130";
@ponticon-var-puzzle: "\f131";
@ponticon-var-plug: "\f132";
@ponticon-var-dashboard: "\f133";
@ponticon-var-dashboard-alt: "\f134";
@ponticon-var-versions: "\f135";
@ponticon-var-package: "\f136";
@ponticon-var-steps: "\f137";
@ponticon-var-terminal: "\f138";
@ponticon-var-credit-card: "\f139";
@ponticon-var-globe: "\f13a";
@ponticon-var-globe-alt: "\f13b";
@ponticon-var-keyboard: "\f13c";
@ponticon-var-keyboard-alt: "\f13d";
@ponticon-var-key-tab: "\f13e";
@ponticon-var-location: "\f140";
@ponticon-var-markdown: "\f141";
@ponticon-var-pulse: "\f142";
@ponticon-var-servers: "\f143";
@ponticon-var-trash: "\f144";
@ponticon-var-trashcan: "\f145";
@ponticon-var-browser: "\f146";
@ponticon-var-clock: "\f147";
@ponticon-var-history: "\f148";
@ponticon-var-color-mode: "\f149";
@ponticon-var-ellipsis: "\f14a";
@ponticon-var-ellipsis-alt: "\f14b";
@ponticon-var-no-newline: "\f14c";
@ponticon-var-flame: "\f14d";
@ponticon-var-milestone: "\f14e";
@ponticon-var-rocket: "\f14f";
@ponticon-var-rocket-alt: "\f150";
@ponticon-var-beer: "\f151";
@ponticon-var-circuit-board: "\f152";
@ponticon-var-paintcan: "\f153";
@ponticon-var-microscope: "\f154";
@ponticon-var-telescope: "\f155";
@ponticon-var-law: "\f156";
@ponticon-var-megaphone: "\f157";
@ponticon-var-mortar-board: "\f158";
@ponticon-var-zap: "\f159";
@ponticon-var-squirrel: "\f15a";
@ponticon-var-light-bulb: "\f15b";
@ponticon-var-podium: "\f15c";
@ponticon-var-jersey: "\f15d";
@ponticon-var-briefcase: "\f15e";
@ponticon-var-gift: "\f15f";
@ponticon-var-ruby: "\f160";
@ponticon-var-bell: "\f161";
@ponticon-var-device-camera: "\f170";
@ponticon-var-device-video: "\f171";
@ponticon-var-device-desktop: "\f172";
@ponticon-var-device-mobile: "\f173";
@ponticon-var-os-apple: "\f180";
@ponticon-var-os-linux: "\f181";
@ponticon-var-os-windows: "\f182";
@ponticon-var-os-android: "\f183";
@ponticon-var-arrow-up: "\f250";
@ponticon-var-arrow-down: "\f251";
@ponticon-var-arrow-left: "\f252";
@ponticon-var-arrow-right: "\f253";
@ponticon-var-arrow-small-up: "\f254";
@ponticon-var-arrow-small-down: "\f255";
@ponticon-var-arrow-small-left: "\f256";
@ponticon-var-arrow-small-right: "\f257";
@ponticon-var-arrow-slim-up: "\f258";
@ponticon-var-arrow-slim-down: "\f259";
@ponticon-var-arrow-slim-left: "\f25a";
@ponticon-var-arrow-slim-right: "\f25b";
@ponticon-var-chevron-up: "\f25c";
@ponticon-var-chevron-down: "\f25d";
@ponticon-var-chevron-left: "\f25e";
@ponticon-var-chevron-right: "\f25f";
@ponticon-var-triangle-up: "\f260";
@ponticon-var-triangle-down: "\f261";
@ponticon-var-triangle-left: "\f262";
@ponticon-var-triangle-right: "\f263";
@ponticon-var-tick-round: "\f300";
@ponticon-var-times-round: "\f301";
@ponticon-var-question-round: "\f302";
@ponticon-var-plus-round: "\f303";
@ponticon-var-minus-round: "\f304";
@ponticon-var-info-round: "\f305";
@ponticon-var-warning-round: "\f306";
@ponticon-var-tick-circle: "\f307";
@ponticon-var-times-circle: "\f308";
@ponticon-var-question-circle: "\f309";
@ponticon-var-plus-circle: "\f30a";
@ponticon-var-minus-circle: "\f30b";
@ponticon-var-info-circle: "\f30c";
@ponticon-var-warning-circle: "\f30d";
@ponticon-var-warning-block: "\f30e";
@ponticon-var-warning-block-o: "\f30f";
@ponticon-var-alert: "\f310";
@ponticon-var-alert-o: "\f311";
@ponticon-var-plus-square-o: "\f312";
@ponticon-var-minus-square-o: "\f313";
@ponticon-var-mail: "\f340";
@ponticon-var-mail-alt: "\f341";
@ponticon-var-mail-read: "\f342";
@ponticon-var-mail-reply: "\f343";
@ponticon-var-mail-forward: "\f344";
@ponticon-var-mail-inbox: "\f345";
@ponticon-var-notification-center: "\f346";
@ponticon-var-mail-archive: "\f347";
@ponticon-var-playback-play: "\f380";
@ponticon-var-playback-pause: "\f381";
@ponticon-var-playback-fast-forward: "\f382";
@ponticon-var-playback-rewind: "\f383";
@ponticon-var-play-circle: "\f384";
@ponticon-var-stop-circle: "\f385";
@ponticon-var-pause-circle: "\f386";
@ponticon-var-fast-forward-circle: "\f387";
@ponticon-var-rewind-circle: "\f388";
@ponticon-var-jump-up: "\f390";
@ponticon-var-jump-down: "\f391";
@ponticon-var-jump-left: "\f392";
@ponticon-var-jump-right: "\f393";
@ponticon-var-move-left: "\f394";
@ponticon-var-move-right: "\f395";
@ponticon-var-volume-low: "\f396";
@ponticon-var-volume-medium: "\f397";
@ponticon-var-volume-high: "\f398";
@ponticon-var-volume-mute: "\f399";
@ponticon-var-chart-line: "\f400";
@ponticon-var-chart-pie: "\f401";
@ponticon-var-chart-area: "\f402";
@ponticon-var-chart-bar: "\f403";
@ponticon-var-heart: "\f410";
@ponticon-var-heart-o: "\f411";
@ponticon-var-bookmark: "\f412";
@ponticon-var-bookmark-alt: "\f413";
@ponticon-var-bookmarks: "\f414";
@ponticon-var-sign-out: "\f415";
@ponticon-var-sign-in: "\f416";
@ponticon-var-shutdown: "\f417";
@ponticon-var-plus: "\f418";
@ponticon-var-times: "\f419";
@ponticon-var-minus: "\f41a";
@ponticon-var-pencil: "\f41b";
@ponticon-var-circle-slash: "\f41c";
@ponticon-var-star: "\f41d";
@ponticon-var-star-o: "\f41e";
@ponticon-var-thumb-up: "\f41f";
@ponticon-var-thumb-down: "\f420";
@ponticon-var-thumb-up-o: "\f421";
@ponticon-var-thumb-down-o: "\f422";
@ponticon-var-sync: "\f423";
@ponticon-var-search: "\f424";
@ponticon-var-download: "\f425";
@ponticon-var-upload: "\f426";
@ponticon-var-pin: "\f427";
@ponticon-var-pushpin: "\f428";
@ponticon-var-pushpin-o: "\f429";
@ponticon-var-clippy: "\f42a";
@ponticon-var-expand: "\f42b";
@ponticon-var-expand-alt: "\f42c";
@ponticon-var-collapse: "\f42d";
@ponticon-var-collapse-alt: "\f42e";
@ponticon-var-fold: "\f42f";
@ponticon-var-unfold: "\f430";
@ponticon-var-contrast: "\f431";
@ponticon-var-redo: "\f432";
@ponticon-var-undo: "\f433";
@ponticon-var-share: "\f434";
@ponticon-var-file-pdf: "\f451";
@ponticon-var-file-audio: "\f452";
@ponticon-var-file-binary: "\f453";
@ponticon-var-file-chart: "\f454";
@ponticon-var-file-code: "\f455";
@ponticon-var-file-code-alt: "\f456";
@ponticon-var-file-image: "\f457";
@ponticon-var-file-link: "\f458";
@ponticon-var-file-openoffice: "\f459";
@ponticon-var-file-txt: "\f45a";
@ponticon-var-file-video: "\f45b";
@ponticon-var-file-word: "\f45c";
@ponticon-var-file-excel: "\f45d";
@ponticon-var-file-powerpoint: "\f45e";
@ponticon-var-file-zip: "\f45f";
@ponticon-var-file-added: "\f460";
@ponticon-var-file-modified: "\f461";
@ponticon-var-file-removed: "\f462";
@ponticon-var-folder: "\f480";
@ponticon-var-folder-link: "\f481";
@ponticon-var-folder-added: "\f482";
@ponticon-var-folder-modified: "\f483";
@ponticon-var-folder-removed: "\f484";
@ponticon-var-folder-submodule: "\f485";
@ponticon-var-folder-o: "\f486";
@ponticon-var-folder-link-o: "\f487";
@ponticon-var-folder-added-o: "\f488";
@ponticon-var-folder-modified-o: "\f489";
@ponticon-var-folder-removed-o: "\f48a";
@ponticon-var-tag: "\f490";
@ponticon-var-tag-o: "\f491";
@ponticon-var-tag-add: "\f492";
@ponticon-var-tag-remove: "\f493";
@ponticon-var-tag-alt: "\f494";
@ponticon-var-tags: "\f495";
@ponticon-var-comment: "\f496";
@ponticon-var-comments: "\f497";
@ponticon-var-comment-add: "\f498";
@ponticon-var-eye-open: "\f499";
@ponticon-var-eye-plus: "\f49a";
@ponticon-var-eye-times: "\f49b";
@ponticon-var-eye-slash: "\f49c";
@ponticon-var-commit: "\f500";
@ponticon-var-diff: "\f501";
@ponticon-var-diff-added: "\f502";
@ponticon-var-diff-ignored: "\f503";
@ponticon-var-diff-modified: "\f504";
@ponticon-var-diff-removed: "\f505";
@ponticon-var-diff-renamed: "\f506";
@ponticon-var-repo: "\f510";
@ponticon-var-repo-add: "\f511";
@ponticon-var-repo-remove: "\f512";
@ponticon-var-repo-cloned: "\f513";
@ponticon-var-repo-forked: "\f514";
@ponticon-var-repo-locked: "\f515";
@ponticon-var-repo-unlocked: "\f516";
@ponticon-var-repo-pull: "\f517";
@ponticon-var-repo-push: "\f518";
@ponticon-var-repo-force-push: "\f519";
@ponticon-var-repo-sync: "\f51a";
@ponticon-var-repo-mirror: "\f51b";
@ponticon-var-branch: "\f520";
@ponticon-var-branch-add: "\f521";
@ponticon-var-branch-remove: "\f522";
@ponticon-var-branch-branch: "\f523";
@ponticon-var-branch-pattern: "\f524";
@ponticon-var-branch-lock: "\f525";
@ponticon-var-branch-merge: "\f526";
@ponticon-var-branch-compare: "\f527";
@ponticon-var-pull-request-add: "\f528";
@ponticon-var-pull-request-reject: "\f529";
@ponticon-var-pull-request-accept: "\f52a";
@ponticon-var-pull-request-close: "\f52b";
@ponticon-var-bug: "\f550";
@ponticon-var-checklist: "\f551";
@ponticon-var-issue-opened: "\f552";
@ponticon-var-issue-reopened: "\f553";
@ponticon-var-issue-closed: "\f554";
@ponticon-var-font: "\f600";
@ponticon-var-font-bold: "\f601";
@ponticon-var-font-italic: "\f602";
@ponticon-var-table: "\f603";
@ponticon-var-align-center: "\f604";
@ponticon-var-align-left: "\f605";
@ponticon-var-align-right: "\f606";
@ponticon-var-align-justify: "\f607";
@ponticon-var-list-unordered: "\f608";
@ponticon-var-list-ordered: "\f609";
@ponticon-var-indent-left: "\f60a";
@ponticon-var-indent-right: "\f60b";
@ponticon-var-mention: "\f60c";
@ponticon-var-horizontal-rule: "\f60d";
@ponticon-var-image: "\f60e";
@ponticon-var-quote: "\f60f";
@ponticon-var-screen-full: "\f610";
@ponticon-var-screen-normal: "\f611";
@ponticon-var-link: "\f612";
@ponticon-var-link-alt: "\f613";
@ponticon-var-link-external: "\f614";
@ponticon-var-unlink: "\f615";
@ponticon-var-attachment: "\f616";
@ponticon-var-primitive-dot: "\f650";
@ponticon-var-primitive-square: "\f651";
@ponticon-var-tick: "\f652";
@ponticon-var-tick-o: "\f653";
@ponticon-var-checkbox-unchecked: "\f654";
@ponticon-var-checkbox-checked: "\f655";
@ponticon-var-checkbox-selected: "\f656";
@ponticon-var-radio-unchecked: "\f657";
@ponticon-var-radio-checked: "\f658";
@ponticon-var-bars-one: "\f659";
@ponticon-var-bars-two: "\f65a";
@ponticon-var-bars-three: "\f65b";